.container__home{
width: 100vw;
height: 100vh;
background-image: url(../../assets/background.png);
background-size: cover;
background-repeat: no-repeat;

}

.header__home{
  position: relative;
  width: 100%;
  height: 180px;
  background-color: rgb(89, 187, 187);
  backdrop-filter: blur(2px);
}

.pets{
  width: 160px;
  padding: 30px 60px;
}

.heart{
  position: absolute;
  left: 105px;
  top: 105px;
  width: 55px;
}

.icon{
  width: 40px;
  cursor: pointer;
}

header h1{
  display: flex;
  position: absolute;
  left: 350px;
  margin: 0px;
  top: 25px;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 100px;
  font-weight: 600;
  color: #FFFFFF;
}

header h2{
  display: flex;
  position: absolute;
  left: 800px;
  top: 100px;
  margin: 0px;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 40px;
  font-weight: 400;
  color: #FFFFFF;
}

.section__home{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 180px );
  width: 100%;

  backdrop-filter: blur(8px);
  /* background: linear-gradient(132deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */
}

.signin{
  display: flex;
  position: relative;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 650px;
  border: 1px solid #FFFFFF;
}

form input{
  width: 300px;
  height: 40px;
}

form h1{
  display: flex;
  position: absolute;
  top: 10%;
  font-family: 'Alkatra', cursive;
  font-size: 50px;
  font-weight: 100;
  color: #0a041a;
}

form label{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Alkatra', cursive;
  font-size: 25px;
  color: #0a041a;
}

.label__nome__home{
  position: absolute;
  top: 30%;
  left:39%;
}

.label__email__home{
  position: absolute;
  top: 45%;
  left: 39%;
}

.label__senha__home{
  position: absolute;
  top: 60%;
  left: 39%;
}

form input {
 background-color: rgb(166, 186, 240);
 border: 1px solid rgb(225, 225, 238);
 border-radius: 5px;
 font-family: 'Alkatra', cursive;
 font-size: 25px;
 font-weight: 500;
 padding: 10px;
 color: rgb(62, 58, 88);
}

.input__nome__home{
  display:flex;
  position: absolute;
  top: 35%
}

.input__email__home{
  display:flex;
  position: absolute;
  top: 50%
}

.input__senha__home{
  display:flex;
  position: absolute;
  top: 65%;
}

form button{
  display:flex;
  position: absolute;
  top: 76%;
  align-items: center;
  justify-content: center;

  background-color: rgb(89, 187, 187);
  border: 1px solid rgb(89, 187, 187);
  border-radius: 8px;
  font-family: 'Alkatra', cursive;
  font-size: 25px;
  color: rgb(64, 92, 92);

  width: 250px;
  height: 50px;
}

.footer{
  position: absolute;
  bottom:0;
  width: 100%;
  height: calc(100vh - 950px);
  background-color: rgb(47, 73, 73);
  backdrop-filter: blur(2px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  
}

.contacts{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  top: 15px;
  right: 30px;
  gap: 20px;
  z-index: 10;
}

.payments{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  top: 10px;
  left: 30px;
  gap: 20px;
  z-index: 10;

}

.pay{
  width: 60px;

  cursor: pointer;
}

form spam{
  color: #FFFFFF;
  position: absolute;
  bottom: 14%;
  font-family: 'Alkatra', cursive;
  font-size:large;
  
}

form spam a{
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
}
