.container-table{
    width: 65%;
    margin-top: 5%;
}

.table-head{
    width: 650px;
    min-height: 58px;
    background-color: rgb(144, 238, 144, 0.2);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Alkatra', cursive;
  
    padding: 0 15px;
    font-size: 20px;
}

.table-body{
    width: 650px;
    min-height: 58px;
    background-color: rgb(144, 238, 144, 0.2);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Alkatra', cursive;
  
    padding: 0 15px;
    font-size: 20px;
}

.table-column-small {
    text-align: center;
    width: 12%;
  }
  
  .table-column-middle {
    text-align: center;
    width: 15%;
  }
  
  .table-column-big {
    text-align: center;
    width: 25%;
  }

.images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    cursor: pointer;
  }